<h2 class="text-center">Reserve Bench</h2>
<div id="reservebench">
  <div class='row'>
    <div id="reservegoalie" class= "col-md-12 vacant"></div>
  </div>
  <div class='row'>
    <div id="reserve1" class= "col-md-12 vacant"></div>
  </div>
  <div class='row'>
    <div id="reserve2" class= "col-md-12 vacant"></div>
  </div>
  <div class='row'>
    <div id="reserve3" class= "col-md-12 vacant"></div>
  </div>
</div>
