<!-- Modal -->
<div class="modal fade" id="myDialogue" tabindex="-1" role="dialog" aria-labelledby="myDialogueLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myDialogueLabel">Formation Error</h4>
      </div>
      <div class="modal-body">
        <blockquote>
          <p class="text-center">I have stuff here</p>
        </blockquote>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->