// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weekbox
{
	border-style:outset;
	display:inline-block;
	float:left;
	width:120px;
	height:70px;
	z-index:1;
	span
	{
		display:block;
	};
};
#weekboxwindow
{
	#left:150px;
	float:left;
	position:relative;
	width:480px;
	height:70px;
	overflow:hidden;
	display:inline-block;

	z-index:12;
};
#weekboxes
{
	#left:-154px;
	position:absolute;
	height:70px;
	overflow:hidden;
	z-index:2;
	ul
	{
		padding:0px;
	};
};
.arrowbox
{
	border-style:outset;
	display:inline-block;
	float:left;
	width:40px;
	height:70px;	
	z-index:12;	
	background-color:Silver;
	font-size:40px;
};
#gameweeksgrid
{
	background-image: image-url("footballground.jpg");
	background-size:cover;
	[class*="col-"]
	{
		padding:0px !important;
		margin:0px !important;
	};
};
.no-gutter [class*="col-"] {
    padding:0;
}

.activegw
{
	background-color:DodgerBlue;
	button
	{
		background-color:DodgerBlue;
	};
};

#balancedetails
{
	background-image: image-url("dark-grey-tile.png");
	color: #B3B3B3;
	hr 
	{
    background: #B3B3B3; 
    width: 75%; 
    height: 3px;
    margin:8px 50px;
	};
	h1
	{
		padding:0px;
		margin:5px;
	}
};
.sheetheading
{
	text-decoration:underline;
};
.equals
{
	border-top-style: groove; 
	border-bottom-style: groove; 
	border-top: thick single #B3B3B3;
	border-bottom: thick single #B3B3B3;
};

